@import "~bootstrap/dist/css/bootstrap.css";

.base {
    margin: 0% 100px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Angular Material Radio Buttons */
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0 !important; /*click effect color change*/
    background-color: #422873 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #422873 !important; /*inner circle color change*/
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #422873 !important; /*outer ring color change*/
}
